<!--
	Sim2Editor Editor includes.
-->

<!-- Game Boy Advance Menus. -->
<script type="module" src="./assets/js/editor/menus/gba/gba-cast-menu.js"></script>
<script type="module" src="./assets/js/editor/menus/gba/gba-episode-menu.js"></script>
<script type="module" src="./assets/js/editor/menus/gba/gba-general-menu.js"></script>
<script type="module" src="./assets/js/editor/menus/gba/gba-minigame-menu.js"></script>
<script type="module" src="./assets/js/editor/menus/gba/gba-slot-menu.js"></script>
<script type="module" src="./assets/js/editor/menus/gba/gba-social-move-menu.js"></script>

<!-- Nintendo DS Menus. -->
<script type="module" src="./assets/js/editor/menus/nds/nds-general-menu.js"></script>
<script type="module" src="./assets/js/editor/menus/nds/nds-slot-menu.js"></script>

<!-- Other stuff. -->
<script type="module" src="./assets/js/editor/main.js"></script>