<!-- Sim2Editor Editor includes. -->

<!-- Game Boy Advance Menus. -->
<script type="module" src="{{ "/assets/js/editor/menus/gba/gba-cast-menu.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/editor/menus/gba/gba-episode-menu.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/editor/menus/gba/gba-general-menu.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/editor/menus/gba/gba-minigame-menu.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/editor/menus/gba/gba-slot-menu.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/editor/menus/gba/gba-social-move-menu.js" | absolute_url }}"></script>

<!-- Nintendo DS Menus. -->
<script type="module" src="{{ "/assets/js/editor/menus/nds/nds-general-menu.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/editor/menus/nds/nds-slot-menu.js" | absolute_url }}"></script>

<!-- Other stuff. -->
<script type="module" src="{{ "/assets/js/editor/main.js" | absolute_url }}"></script>