<!--
	Sim2Editor Editor Navigation Menu Tabs.
-->

<!-- Handle GBA Tabs here. -->
<nav class="navbar navbar-expand-lg navbar-dark navigation-bar hide" id="gba-tabs">
	<div class="container-fluid">
		<a class="navbar-brand">Menus</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#gba-menu-nav" title="navbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="gba-menu-nav">
			<div class="navbar-nav"><br>
				<!-- Contains all Tabs. -->
				<button id="gba-general" type="button" class="button-style">General</button>
				<button id="gba-cast" type="button" class="button-style">Cast Members</button>
				<button id="gba-social-move" type="button" class="button-style">Social Moves</button>
				<button id="gba-episode" type="button" class="button-style">Episodes</button>
				<button id="gba-minigame" type="button" class="button-style">Minigames</button>
				<button id="gba-plot-twist" type="button" class="button-style">Plot Twists</button>
				<button id="gba-item-package" type="button" class="button-style">Item Packages</button>
			</div>
		</div>
	</div>
</nav>

<!-- Handle NDS Tabs here. -->
<nav class="navbar navbar-expand-lg navbar-dark navigation-bar hide" id="nds-tabs">
	<div class="container-fluid">
		<a class="navbar-brand">Menus</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nds-menu-nav" title="navbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="nds-menu-nav">
			<div class="navbar-nav"><br>
				<!-- Contains all Tabs. -->
				<button id="nds-general" type="button" class="button-style">General</button>
			</div>
		</div>
	</div>
</nav>