<!--
	Sim2Editor-Core Includes.

	Modify the paths properly for your source code structure. In this case the Save Editing Core is stored at:
		/assets/js/Sim2Editor-Core
-->

<!-- Game Boy Advance Core modules. -->
<script type="module" src="./assets/js/Sim2Editor-Core/gba/gbacast.js"></script>
<script type="module" src="./assets/js/Sim2Editor-Core/gba/gbaepisode.js"></script>
<script type="module" src="./assets/js/Sim2Editor-Core/gba/gbahouse.js"></script>
<script type="module" src="./assets/js/Sim2Editor-Core/gba/gbahouseitem.js"></script>
<script type="module" src="./assets/js/Sim2Editor-Core/gba/gbaitem.js"></script>
<script type="module" src="./assets/js/Sim2Editor-Core/gba/gbaminigame.js"></script>
<script type="module" src="./assets/js/Sim2Editor-Core/gba/gbasav.js"></script>
<script type="module" src="./assets/js/Sim2Editor-Core/gba/gbasettings.js"></script>
<script type="module" src="./assets/js/Sim2Editor-Core/gba/gbaslot.js"></script>
<script type="module" src="./assets/js/Sim2Editor-Core/gba/gbasocialmove.js"></script>

<!-- Nintendo DS Core modules. -->
<script type="module" src="./assets/js/Sim2Editor-Core/nds/ndssav.js"></script>
<script type="module" src="./assets/js/Sim2Editor-Core/nds/ndsslot.js"></script>

<!-- Shared Core modules. -->
<script type="module" src="./assets/js/Sim2Editor-Core/shared/checksum.js"></script>
<script type="module" src="./assets/js/Sim2Editor-Core/shared/savutils.js"></script>
<script type="module" src="./assets/js/Sim2Editor-Core/shared/simutils.js"></script>

<!-- String Core modules. -->
<script type="module" src="./assets/js/Sim2Editor-Core/strings/stringhandler.js"></script>

<!-- German Core string modules. -->
<script type="module" src="./assets/js/Sim2Editor-Core/strings/de/gba/casts.js"></script>
<script type="module" src="./assets/js/Sim2Editor-Core/strings/de/gba/episodes.js"></script>
<script type="module" src="./assets/js/Sim2Editor-Core/strings/de/gba/minigames.js"></script>
<script type="module" src="./assets/js/Sim2Editor-Core/strings/de/gba/skillpoints.js"></script>
<script type="module" src="./assets/js/Sim2Editor-Core/strings/de/gba/socialmoves.js"></script>
<script type="module" src="./assets/js/Sim2Editor-Core/strings/de/nds/skillpoints.js"></script>

<!-- English Core string modules. -->
<script type="module" src="./assets/js/Sim2Editor-Core/strings/en/gba/casts.js"></script>
<script type="module" src="./assets/js/Sim2Editor-Core/strings/en/gba/episodes.js"></script>
<script type="module" src="./assets/js/Sim2Editor-Core/strings/en/gba/itemlist.js"></script>
<script type="module" src="./assets/js/Sim2Editor-Core/strings/en/gba/minigames.js"></script>
<script type="module" src="./assets/js/Sim2Editor-Core/strings/en/gba/skillpoints.js"></script>
<script type="module" src="./assets/js/Sim2Editor-Core/strings/en/gba/socialmoves.js"></script>
<script type="module" src="./assets/js/Sim2Editor-Core/strings/en/nds/skillpoints.js"></script>