<!--
	Sim2Editor-Core Includes.

	Modify the paths properly for your source code structure. In this case the Save Editing Core is stored at:
		/assets/js/Sim2Editor-Core
-->

<!-- Game Boy Advance Core modules. -->
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/gba/gbacast.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/gba/gbaepisode.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/gba/gbahouse.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/gba/gbahouseitem.js | absolute_url }}""></script>
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/gba/gbaitem.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/gba/gbaminigame.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/gba/gbasav.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/gba/gbasettings.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/gba/gbaslot.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/gba/gbasocialmove.js" | absolute_url }}"></script>

<!-- Nintendo DS Core modules. -->
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/nds/ndssav.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/nds/ndsslot.js" | absolute_url }}"></script>

<!-- Shared Core modules. -->
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/shared/checksum.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/shared/savutils.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/shared/simutils.js" | absolute_url }}"></script>

<!-- String Core modules. -->
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/strings/stringhandler.js" | absolute_url }}"></script>

<!-- German Core string modules. -->
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/strings/de/gba/casts.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/strings/de/gba/episodes.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/strings/de/gba/minigames.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/strings/de/gba/skillpoints.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/strings/de/gba/socialmoves.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/strings/de/nds/skillpoints.js" | absolute_url }}"></script>

<!-- English Core string modules. -->
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/strings/en/gba/casts.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/strings/en/gba/episodes.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/strings/en/gba/itemlist.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/strings/en/gba/minigames.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/strings/en/gba/skillpoints.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/strings/en/gba/socialmoves.js" | absolute_url }}"></script>
<script type="module" src="{{ "/assets/js/Sim2Editor-Core/strings/en/nds/skillpoints.js" | absolute_url }}"></script>