<!--
	Sim2Editor Save Handler.
-->
<div class="card card-main mb-3" id="sav-handler">
	<div class="card-header card-title-bar">
		<h5 class="card-title">Save Handler</h5>
	</div>

	<div class="card-body card-clr">
		<!-- File Input for selecting the savefile. -->
		<label for="sav-selector">Select a Savefile</label>
		<input type="file" class="form-control input-style mb-3" id="sav-selector">


		<!-- Handle the Finish call. -->
		<button type="button" id="sav-finish" class="button-style mb-3" disabled>Finish Editing</button>
	</div>
</div>