<!--
	The main navigation bar of the page on the top.
-->
<nav class="navbar navbar-expand-lg navbar-dark navigation-bar">
	<div class="container-fluid">
		<img class="navbar-brand" src="./assets/images/icon.png" alt="sim2editor icon">

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar" title="navbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="main-navbar">
			<div class="navbar-nav"><br>
				<button id="navbar-home" type="button" class="btn navigation-bar-text">Home</button>
				<button id="navbar-about" type="button" class="btn navigation-bar-text">About</button>
				<button id="navbar-faq" type="button" class="btn navigation-bar-text">FAQ</button>
				<button id="navbar-features" type="button" class="btn navigation-bar-text">Features</button>
				<button id="navbar-save-editor" type="button" class="btn navigation-bar-text">Save Editor</button>
			</div>
		</div>
	</div>
</nav>