<!-- The main navigation bar of the page on the top. -->
<nav class="navbar navbar-expand-lg navbar-dark navigation-bar">
	<div class="container-fluid">
		<a href="https://sim2team.github.io">
			<img class="navbar-brand" src="{{ "/assets/images/icon.png" | absolute_url }}"" alt="Sim2Team Icon">
		</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar" title="navbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="main-navbar">
			<div class="navbar-nav"><br>
				<a class="nav-link" href="{{ "/" | absolute_url }}">Home</a>
				<a class="nav-link" href="{{ "/about" | absolute_url }}">About</a>
				<a class="nav-link" href="{{ "/faq" | absolute_url }}">FAQ</a>
				<a class="nav-link" href="{{ "/features" | absolute_url }}">Features</a>
				<a class="nav-link" href="{{ "/save-editor" | absolute_url }}">Save Editor</a>
			</div>
		</div>
	</div>
</nav>