---
---

/*
	Sim2Editor's red color scheme.
	Base color: https://www.colorhexa.com/6d0729.
*/

$main-bg-color: #9D0A3B;
$card-title-bar-color: #550520;
$card-top-color: #CFCFCF;
$card-color: #6D0729;
$footer-color: #850932;
$footer-text-color: #CFCFCF;
$navbar-color: #850932;
$navbar-text-color: #CFCFCF;
$selected-button-color: #B50C44;
$selected-slot-color: #B50C44;
$link-color: #CFCFCF;
$link-hover-color: #EFEFEF;
$button-color: #550520;
$button-text-color: #CFCFCF;

@import "main";