<!DOCTYPE html>
<!-- Sim2Editor Save Editor Layout. -->
<html lang="en-US">
{% include editorhead.html %}

<body>
	{% include navbar.html %}<br>
	<div class="content">
		<div class="container-fluid">
			<main>
				{% include editor/sav-handler.html %}

				<!-- Here the Slot Manager / Loaders. -->
				<div id="slot-menu" class="hide">
					{% include editor/menus/gba/gba-slot-menu.html %}
					{% include editor/menus/nds/nds-slot-menu.html %}
					<br>
				</div>

				<!-- Here the sub bar with the sub menu navigations. -->
				<div id="sub-tab" class="hide">
					{% include editor/editor-tabs.html %}
					<br>
				</div>

				<!--
					After the Editor Menu Tabs and Save Handler is included, we can include the Menus.
				-->

				<div id="menus" class="hide">
					<!-- GBA Menus have priority over NDS. -->
					<div id="gba-menus" class="hide">
						{% include editor/menus/gba/gba-general-menu.html %} <!-- Then the General Menu for general things. -->
						{% include editor/menus/gba/gba-cast-menu.html %} <!-- Then the Cast Member Menu for Cast Member things. -->
						{% include editor/menus/gba/gba-social-move-menu.html %} <!-- Then the Social Moves Menu for Social Move related things. -->
						{% include editor/menus/gba/gba-episode-menu.html %} <!-- Then the Episode Menu for Episode related things. -->
						{% include editor/menus/gba/gba-minigame-menu.html %} <!-- Then the Minigame Menu for Minigame related things. -->
						{% include editor/menus/gba/gba-plot-twist-menu.html %} <!-- Then the Plot Twist Menu for Plot Twist related things. -->
						{% include editor/menus/gba/gba-item-package-menu.html %} <!-- Then the Item Package Menu for the Item related things. -->
						<br>
					</div>

					<!-- Then the NDS Menus. -->
					<div id="nds-menus" class="hide">
						{% include editor/menus/nds/nds-general-menu.html %} <!-- Then the General Menu for general things. -->
						<br>
					</div>
				</div>

				<!-- Wasn't sure what to call it, so ehh i kind of call it "Feedback" menu, lol. -->
				<div id="feedback-menu" class="hide">
					<h2>Thank you for using Sim2Editor. Your edited Savefile is downloading now.</h2>
					<p class="fw-bold mb-3">How was your experience with it?</p>

					<p class="fw-bold mb-5">
						Feel free to join the <a href="https://sim2team.github.io/discord">Sim2Server</a> discord server,
						if you need any help or have suggestions and type under the 'Sim2Editor' thread at the Investigations-and-projects category at the channel #projects.
					</p>
				</div>
			</main>
		</div>
	</div>

	{% include footer.html %}
</body>
</html>